header {
  .divider {
    width: 0.9rem;
    border-right: 1.3px solid black;
    height: 1.35rem;
    margin: 0 10px;
  }

  .social-links {
    width: 11.35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-links {
    width: 19rem;
    display: flex;
    justify-content: space-between;
  }
  box-shadow: 0px 5.079365253448486px 20.32px rgba(0, 0, 0, 0.16);
  padding: 1.5rem 10rem;
  font-size: 1.3rem;
  z-index: 20;
  
  top: 0;
  left: 0;
  right: 0;
}

.page {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
