$icomoon-font-family: "icon-fonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow: unquote('"\\e900"');
$icon-arrow-left: unquote('"\\e901"');
$icon-arrow-right: unquote('"\\e902"');
$icon-close: unquote('"\\e903"');
$icon-facebook: unquote('"\\e904"');
$icon-hamburger-menu: unquote('"\\e905"');
$icon-instagram: unquote('"\\e906"');
$icon-mail: unquote('"\\e908"');
$icon-rss: unquote('"\\e909"');
$icon-search: unquote('"\\e90a"');
$icon-twitter: unquote('"\\e90b"');

